*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

svg{
    height: 24px;
    width: 24px;
    /* vertical-align: middle; */
}


nav{
    height: 50px;
    background-color: rgba(215, 181, 29, 0.743) ;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 700;
}

ul{
    height: 50px;
    display: flex;
    align-items: center;
}
ul li{
    list-style-type: none;
    padding: 10px;
}
.content {
    max-width: 1360px;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.container {
    margin: 30px;
    padding: 5px;
    max-width: 350px;
    max-height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* position: relative; */
}

img{
    padding: 5px;
    height: 250px;
    /* width: auto; */
}

h4{
    padding: 5px;
    margin: 0;
    padding: 5px;
    font-weight: 600;
}

p{
    margin: 5px;
    padding: 5px;
    /* overflow: hidden; */
    overflow-y: scroll;

}
p::-webkit-scrollbar{
    display: none;
}




.button{
    
    background-color: rgba(215, 181, 29, 0.743);
    color: white;
    height: 30px;
    width: 100%;
    margin-top: auto;
    /* position: absolute; */
    /* bottom: 0;
    align-items: baseline; */
}